services:
  backend:
    build: ./backend
    container_name: teknik-servis-crm-backend
    restart: always
    expose:
      - 5000
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    volumes:
      - ./backend/src:/usr/src/app/src
    